@import "../../style";

.products-page {
    .preview-bg {
        background-image: url(../../../public/images/products-bg.jpg);
    }
    .tabs-row {
        align-items: flex-start;
    }
    .tabs-tablet {
        display: none;
    }
    .react-tabs__tab-list {
        min-width: 300px;
        border-right: 1px solid #eceff4;
    }
    .react-tabs__tab {
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        cursor: pointer;
    }
    .react-tabs__tab--selected {
        color: #c74869;
        border: none;
        &:focus-visible {
            outline: none;
        }
    }
    .tab-container {
        margin: 0px 110px;
        .tab-content-header {
            font-family: "Roboto";
            font-weight: 800;
            font-size: 26px;
            line-height: 30px;
            margin-top: 40px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        .tab-content-header:nth-child(1) {
            margin-bottom: 33px;
            margin-top: 0;
        }
        .tab-content-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: #7a8085;
            margin-bottom: 20px;
        }
        .tab-content-subtitle {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #7a8085;
            margin-bottom: 20px;
        }
        .download-btn {
            @include buttonWithArrow();
            margin-top: 50px;
            background-color: transparent;
            border: 1px solid #5b5b5b;
            color: #5b5b5b;
            margin-bottom: 120px;
            text-transform: uppercase;
            &:hover .btn-arrow {
                transform: rotate(90deg);
            }
            &:hover {
                background-color: #bebebe;
            }
            .btn-arrow {
                background-image: url(../../assets/button-arr-gray.svg);
                transform: rotate(90deg);
            }
        }
    }
    .tab-content-img {
        width: 100%;
        max-height: 315px;
        object-fit: cover;
    }
    .tab-content-table {
        width: 100%;
    }
}

/* Laptop */
@media (max-width: 1200px) {
    .products-page {
        .react-tabs__tab-list {
            min-width: 200px;
        }
        .tab-container {
            margin: 0px 20px;
        }
    }
}

/* Tablet */
@media (max-width: 992px) {
    .products-page {
        .tabs-tablet {
            display: block;
            overflow-x: scroll;
            margin-bottom: 20px;
        }
        .tabs-desktop {
            display: none;
        }
        .tabs-row {
            flex-direction: column;
        }
        .react-tabs__tab-list {
            display: flex;
            gap: 24px;
            border-right: none;
            min-width: 940px;
        }
        .tab-container {
            margin: 0px 0px;
        }
    }
}

/* Mobile */
@media (max-width: 576px) {
    .products-page {
        .tab-container {
            .tab-content-header {
                font-weight: 800;
                font-size: 24px;
                line-height: 28px;
                letter-spacing: -0.04em;
                margin-top: 32px;
                margin-bottom: 12px;
            }
            .tab-content-header:nth-child(1) {
                margin-bottom: 24px;
                text-align: center;
                font-weight: 700;
                font-size: 32px;
                line-height: 30px;
            }
            .download-button-wrapper {
                text-align: center;
                .download-btn {
                    margin-top: 32px;
                    margin-bottom: 72px;
                }
            }
        }
        .tab-content-img {
            width: 100%;
            min-height: 340px;
        }
        .tab-content-table {
            min-height: auto;
            width: 100%;
        }
    }
}

@media (max-width: 440px) {
    .products-page {
        .preview-section {
            .preview-header {
                font-size: 60px;
            }
        }
    }
}
