@import '../../style';

.services-section {
    background: #ffffff;
    border: 1px solid #000000;
    .services-container {
        margin-right: 0;
        margin-left: auto;
    }
    .services-row {
        display: grid;
        grid-template-columns: 1.2fr 2fr;
    }
    .small-header {
        margin-top: 35px;
        margin-bottom: 24px;
    }
    .big-header {
        margin-bottom: 48px;
    }
    .sevices-btn {
        @include buttonWithArrow();
        color: #121212;
        padding: 0px;
        background-color: transparent;
        .btn-arrow {
            background-image: url(../../assets/button-arr-red.svg);
        }
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
        }
    }
    .services-items {
        font-family: 'Plus Jakarta Sans';
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #f1275b;
        > div {
            padding: 27px 38px;
            border: 1px solid #000000;
            &:hover {
                background: #5b5b5b;
                color: white;
            }
        }
    }
}
