@import '../../style';

.services-section {
    background: #ffffff;
    border: 1px solid #000000;
    position: relative;
    height: 493px;
    .services-row {
        display: grid;
        grid-template-columns: 1.2fr 2fr;
    }
    .small-header {
        margin-top: 35px;
        margin-bottom: 24px;
    }
    .big-header {
        margin-bottom: 48px;
    }
    .sevices-btn {
        @include buttonWithArrow();
        color: #121212;
        padding: 0px;
        background-color: transparent;
        .btn-arrow {
            background-image: url(../../assets/button-arr-red.svg);
        }
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
        }
    }
    .services-items {
        font-family: 'Plus Jakarta Sans';
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #f1275b;
        position: absolute;
        top: 0px;
        left: 45%;
        width: 55%;
        > a {
            text-decoration: none;
            color: #f1275b;
            > div {
                padding: 27px 38px;
                border-top: 1px solid #000000;
                border-left: 1px solid #000000;
                &:hover {
                    background: #5b5b5b;
                    color: white;
                }
            }
        }
        > a:nth-child(1) {
            > div {
                border-top: none;
            }
        }
    }
    .tablet-container {
        max-width: auto;
    }
}

/* Tablet */
@media (max-width: 992px) {
    .services-section {
        height: auto;
        .services-container {
            padding-left: 0;
            padding-right: 0;
        }
        .container-tablet {
            padding-left: 16px;
            padding-right: 16px;
        }
        .services-row {
            grid-template-columns: 1fr;
        }
        .services-items {
            position: static;
            width: 100%;
            > div:nth-child(1) {
                border-top: 1px solid #000000;
            }
            > div {
                border-left: none;
                border-right: none;
            }
        }
        .big-header {
            margin-bottom: 16px;
        }
        .sevices-btn {
            margin-bottom: 28px;
        }
    }
}

/* Mobile */
@media (max-width: 576px) {
}
