@import '../../style';

.map-section {
    .map-wrapper {
        display: grid;
        grid-template-columns: 0.92fr 1fr;
        height: 710px;
        background-color: #c74869;
    }
    .map-content {
        background-color: #c74869;
        position: relative;
        height: 100%;
        .map-text {
            position: absolute;
            width: 530px;
            top: 140px;
            right: 70px;
            .big-header {
                color: white;
            }
            .subtitle {
                color: white;
            }
            .big-header:nth-child(2) {
                margin-bottom: 24px;
            }
            .subtitle {
                margin-bottom: 32px;
            }
            .map-btn {
                @include buttonWithArrow();
                background: #121212;
                text-transform: uppercase;
            }
        }
    }
    .map-overlap {
        filter: grayscale(100%);
        height: 100%;
        transition: 0.5s all;
        &:hover {
            filter: grayscale(0%);
        }
    }
    .map {
        width: 100%;
        height: 100%;
    }
    .active {
        grid-template-columns: 0fr 1fr;
        transition: 1s all;
        .map-content {
            transform: translateX(-110%);
            transition: 2s all;
        }
    }
    .map-wrapper.tablet-active {
        transition: 1s all;
        .map-content {
            transition: 2s all;
            height: 0px;
            padding: 0px;
            opacity: 0;
            .map-text {
                transition: 1s all;
                height: 0px;
                padding: 0px;
                opacity: 0;
                visibility: hidden;
            }
        }
        .map-overlap {
            height: 180%;
            transform: translateY(-37%);
        }
    }
}

@media (max-width: 1300px) {
    .map-section {
        .map-content {
            height: auto;
            .map-text {
                width: 400px;
            }
        }
        .map-overlap {
            min-height: 400px;
            filter: grayscale(0%);
        }
    }
}
@media (max-width: 1020px) {
    .map-section {
        .map-content {
            .map-text {
                right: 0px;
            }
        }
    }
}

/* Tablet */
@media (max-width: 992px) {
    .map-section {
        .map-wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 0.8fr 1.2fr;
            transition: 1s all;
            height: auto;
        }
        .tablet-row {
            display: flex;
            gap: 10px;
        }
        .map-content {
            .map-text {
                position: static;
                width: auto;
                padding: 35px 16px;
            }
        }
    }
}

/* Mobile */
@media (max-width: 576px) {
}
