@import "../../../style";

.preview-section {
    background-image: url(../../../../public/images/article-preview-10.jpg);
}
.content-wrapper {
    margin-top: 160px;
}
.links-row {
    align-items: flex-start;
}
.links-tablet-wrapper {
    overflow-x: auto;
    margin-bottom: 20px;
}
.links-tablet {
    display: none;
    gap: 24px;
    min-width: 960px;
    padding: 15px 0px;
    > a {
        text-decoration: none;
        color: #121212;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
    }
    .active {
        color: #c74869;
    }
}
.links-desktop {
    min-width: 300px;
    > a {
        text-decoration: none;
        color: #121212;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        cursor: pointer;
        > div {
            margin-bottom: 32px;
        }
    }
    .active {
        color: #c74869;
    }
}
.react-tabs__tab {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
}
.react-tabs__tab--selected {
    color: #c74869;
    border: none;
    &:focus-visible {
        outline: none;
    }
}
.product-container {
    margin: 0px 110px;
    .product-content-header {
        font-family: "Roboto";
        font-weight: 800;
        font-size: 26px;
        line-height: 30px;
        margin-top: 40px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .product-content-header:nth-child(1) {
        margin-bottom: 33px;
        margin-top: 0;
    }
    .product-content-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #7a8085;
        margin-bottom: 20px;
    }
    .product-content-text-less-margin {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #7a8085;
        margin-bottom: 0px;
        span {
            color: #121212;
        }
    }
    .product-content-table-name {
        text-transform: uppercase;
    }
    .product-content-table-img {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .product-content-subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #7a8085;
        margin-bottom: 20px;
    }
    .product-images-row {
        gap: 10px;
        .image-wrapper {
            width: 100%;
        }
        > img {
            width: 100%;
        }
    }
    .download-btn {
        @include buttonWithArrow();
        margin-top: 23px;
        background-color: transparent;
        border: 1px solid #5b5b5b;
        margin-bottom: 120px;
        text-transform: uppercase;
        a {
            text-decoration: none;
            color: #5b5b5b;
        }
        &:hover .btn-arrow {
            transform: rotate(90deg);
        }
        &:hover {
            background-color: #bebebe;
        }
        .btn-arrow {
            background-image: url(../../../assets/button-arr-gray.svg);
            transform: rotate(90deg);
        }
    }
}
.product-content-img {
    width: 100%;
    height: 315px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}
.product-content-table {
    width: 100%;
}

/* Tablet */
@media (max-width: 992px) {
    .content-wrapper {
        margin-top: 50px;
    }
    .links-tablet {
        display: flex;
    }
    .links-desktop {
        display: none;
    }
    .product-container {
        margin: 0px 50px;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .product-container {
        margin: 0px;
    }
}
