.preview-section {
    padding-top: 40px;
    max-height: 690px;
    .preview-bg {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-height: 490px;
        position: relative;
    }
    .preview-header {
        font-family: 'Roboto';
        font-weight: 800;
        font-size: 80px;
        line-height: 57px;
        letter-spacing: -0.06em;
        text-transform: uppercase;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .scroll-btn {
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
        .scroll-btn-border {
            border-color: #e7e9ed;
        }
        .scroll-down-btn > p {
            color: #bcbfc3;
        }
    }
}
.add-margin {
    margin-bottom: 140px;
}

@media (max-width: 350px) {
    .preview-section {
        .preview-header {
            font-size: 64px;
        }
    }
}

// Mobile
@media (max-width: 576px) {
    .preview-section {
        .scroll-btn {
            bottom: -83px;
        }
    }
}
