.service-page {
    .preview-bg {
        background-image: url(../../../public/images/service-page-preview.png);
    }
    .supplies-section {
        // padding-top: 30px;
        .supplies-header {
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #595959;
            text-align: center;
            margin: 0px 310px 40px;
        }
        .paragraph-row {
            gap: 24px;
            margin-bottom: 60px;
            > img {
                height: 300px;
            }
        }
        .item-header {
            color: #f1275b;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            text-transform: uppercase;
            margin-bottom: 32px;
        }
        .item-text {
            color: #121212;
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            margin-bottom: 32px;
        }
    }
}
