@import '../../style';

.quotation {
    background-color: #121212;
    height: 45px;
}
.header {
    background-color: white;
    position: relative;
    .hide {
        display: none;
    }
    .show {
        display: block;
    }
    .subscribe-bg {
        z-index: 10;
        height: 100vh;
        width: 100%;
        background-color: #00000088;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .subscribe-section {
        z-index: 10;
        position: fixed;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.header-row {
    align-items: center;
    justify-content: space-between;
    padding: 11px 0px 14px 0px;
}
.header-menu {
    margin-left: 43px;
    gap: 32px;
    > a {
        text-decoration: none;
        color: #121212;
        font-weight: 400;
    }
    .active {
        font-weight: 700;
    }
}
.header-btns {
    > a {
        > button {
            @include buttonWithArrow();
        }
    }
    > button {
        @include buttonWithArrow();
    }
    .submit-btn {
        background-color: #f1275b;
        margin-right: 16px;
    }
    .call-btn {
        background-color: #5b5b5b;
    }
}
