@import '../../style';

.quotation {
    background-color: #121212;
    height: 45px;
}
.header-row {
    align-items: center;
    justify-content: space-between;
    padding: 11px 0px 14px 0px;
}
.header-menu {
    margin-left: 43px;
    gap: 32px;
    > a {
        text-decoration: none;
        color: #121212;
        font-weight: 400;
    }
    .active {
        font-weight: 700;
    }
}
.header-btns {
    > button {
        @include buttonWithArrow();
    }
    .submit-btn {
        background-color: #f1275b;
        margin-right: 16px;
    }
    .call-btn {
        background-color: #5b5b5b;
    }
}
